/*COLORS*/
$colorBlue:#006D9D;
$colorWhite: white;
$colorPurple:#8b0061;
$colorOrange:#FFAB33;

/*SIZES*/
$totalSize:100%;

/*SECTION COLOR CV*/
$colorLightBlue: #9cb7e3;
$colorLightOrange: #ca7544;
$colorLightYellow: #c4d468;

/*DATA COLORS*/
$colorWhiteYellow: #FFFFE3;
$colorGrey: #B4B6B2;
