@mixin fontTitleBold{
	font-family: 'Indie Flower';
	font-weight: bold;
}

@mixin displayColorFonts {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 10px;
}

@mixin networks {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 22px;
}

@mixin flexColum {
	display: flex;
	flex-direction: column;
}
