
body {
	background-color: $colorWhite;
	display: flex;
	flex-direction: column;
}

.principal-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.personalizar {
	display: flex;
	flex-direction: row;
	border: 3px solid $colorBlue;
	border-radius: 15px;
	justify-content: center;
	align-items: center;

}
.personalizar li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}
.personalizatucv {
	width: 100%;
	position: relative;
	display: flex;
	padding: 15px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	justify-content: center;
}
.personalizar img {
	padding: 10px;
	height: 90px;
	width: 90px;
}
/*Pagina principal*/
.background {
	height: 100vh;
	background-image: url(../images/background3.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
li {
	list-style: none;
}
.text {
	color: $colorWhite;
	text-decoration: none;
}
.text:hover {
	font-weight: bold;
	color: $colorPurple;
}
.principal-logo {
	border-bottom: 5px solid $colorWhite;
	margin-bottom: 50px;
}
.principal-logo img {
	width: 250px;
}
.principal-logo a {
	text-decoration: none;
}
/*FIN PÁGINA INICIO*/

/*PREVIO CV*/
.cv {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	width: 95%;
	max-width: 600px;
	margin: auto;
	font-size: 15px;
	line-height: 1.5;
	background-color: #FFFFE2;
	height: auto;
	margin-bottom: 30px;
	box-shadow: 4px 4px 1px #B4B6B2;
}
.prev-info-personaldates {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	background-color: #ffe7b9;
}
.prev-photo {
	width: 30%;
	min-width: 120px;
}
.prev-photo img{
	border-radius: 50%
}
.prev-list-personal{
	width: 65%;
}
.cut-url{
	overflow-wrap: break-word;
	word-wrap: break-word;
}
.prev-description,
.prev-education,
.prev-professionalexperience,
.prev-skills,
.prev-interestdetails {
	padding: 10px;
}
